@charset "UTF-8";
h1{
    color: coral;
    font-size: 20px;
    font-family:initial;
}

/*formatação por seleção*/
#divparagrafo{

    background-color: rgba(10,10,10,0.2);
    width: 100px;
    height: 100px;
}
.paragrafo{

    font-size: 20px;
    font-family: arial solid black;
    color:deepskyblue;
}

/*imagem de fundo*/
.imagem_de_fundo{

    background:url("../imagem/textura.jpg") center center no-repeat;
}
.font_01{
    font-family: arial, helvita, sans-serif;
    color: darkolivegreen;
    font-size: 70px;
}
.elementotext_espacamento{

    letter-spacing: 20px;

}
.elementotext_wordspacing{
    word-spacing: 40px;
}
.elementotext_align{
    /*left, right, justify, center */
    text-align: justify;
}
.elementotext_decoration{
    /*none, underline, overline, line-through, blink */
    text-decoration: overline;
}
.elementotext_identit{

    text-indent: 20px;
}
.elementotext_transform{
    /*none, uppercase, lowercase, capitalize */

    text-transform: uppercase;
}
._bordacss{

    border: 2px solid red; 
}
.estiloborda{

    border-bottom: thick dotted green;
    border-top: 2px solid brown;
}
.novoestiloborda{
    border-bottom-style: dashed;
}

.divborda{

    border: 1px solid black;
}

.divmargin{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}
.divformatacao{
    width: 100px;
    height: 100px;
}
.divpadding{
    
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 10px;
    padding-bottom: 10px;
}